.DS_Store
m_renames3/generate/*

node_modules/*

emails/*.txt

settings/s3credentials-real.json

settings/emailsetting-real.json

m_repltemp/templates/html_html5.html

m_repltemp/templates/iframe_html5.html

m_repltemp/allsettings-real.json

m_renames3/allsettings-real.json

spec/m_repltemp_spec_real.js

runrepl_real

runrenameS3_real

m_repltemp/generate/*
m_getdiff/*
